.row .row {
    margin: 0 -1.5em;
}

.col {
    padding: 0 1.5em;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

@media only screen {
    .col {
        width: 100%;
        box-sizing: border-box;
    }
}

.container {
    max-width: 90em;
}

@media only screen and (min-width: 34em) {
    .feature,
    .info {
        width: 50%;
    }
}

@media only screen and (min-width: 54em) {
    .content {
        width: 66.66%;
    }
    .sidebar {
        width: 33.33%;
    }
    .info {
        width: 100%;
    }
}

@media only screen and (min-width: 76em) {
    .content {
        width: 58.33%;
    }
    /* 7/12 */
    .sidebar {
        width: 41.66%;
    }
    /* 5/12 */
    .info {
        width: 50%;
    }
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    color: #4A90E2;
}

h1 {
    font-size: 2.2em;
     font-family: FOT-ラグランパンチ Std UB ,'RaglanPunchStd-UB';
      margin: 0;
      padding: 0 0 2em;
}

h2 {
    font-size: 1.4em;
}

h2,
h3,
h4 {
    margin-top: 0;
}

h3,
h4 {
    margin-bottom: 0.5em;
}

p,
ul {
    font-size: 0.8125em;
    line-height: 1.5;
    margin: 0 0 1.5em;
}

code {
    font-size: 1.2727em;
    color: #777;
}

iframe {
    border: 0;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 90em;
    padding: 1em 0;
}

.footer {
    padding-top: 1.5em;
}

.desc {
    color: #888;
}

.intro {
    border-bottom: 1px dotted #bbb;
    padding-bottom: 1.5em;
}

.social {
    border-top: 1px dotted #bbb;
    padding-top: 1.5em;
}


/* minor responsive adjustments */

.footer {
    border-top: 1px dotted #aaa;
}

.content {
    border-bottom: 1px dotted #aaa;
    margin-bottom: 1.5em;
}

@media only screen and (min-width: 34em) {
    p,
    ul {
        font-size: 0.875em;
    }
    .feature:first-child,
    .info:first-child {
        border-right: 1px dotted #aaa;
    }
    .container {
        padding: 1em;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.6em;
    }
}

@media only screen and (min-width: 54em) {
    .content {
        border: none;
        border-right: 1px dotted #aaa;
        margin-bottom: 0;
    }
    .info:first-child {
        border: none;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.7em;
    }
}

@media only screen and (min-width: 76em) {
    .info:first-child {
        border-right: 1px dotted #aaa;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
}
.header {
	text-align: center;
	padding: 2em 0 0;
}
.tac {
	text-align: center;
}
small.copy {
    text-align: center;
    display: block;
    padding: 1em;
}
.posts iframe {
    width: 100%;
}
img.tw-image {
    width: 100px;
    padding: 0;
    border-radius: 50%;
}
article.post {
    border-bottom: 1px dotted #bbb;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}